.swiper-container-2 {
    width: 390px;
    height: 700px;
    position: absolute;
    top: 140px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swipper-pagination-active {
    background-color: #000 !important;
  }

.top-text{
  position: absolute;
  visibility: hidden;
}
.swiper-slide:hover .top-text{
  visibility: visible;
}