* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
}

.logo{
width: auto;
height: 76px;
display: flex;
right: 0%;
justify-content: start;
box-shadow: #34160C;
}

.hero{
  height: 500px;
  width: auto;
  border-radius: 150px;
  box-shadow: black 0 4px 8px;
  border: #CEA76F;
  display: flex;
  column-gap: 800%;
}

.home-page{
  margin-top: 8%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.home-message{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
  text-shadow: 1px 3px 4px #422e20;
}

h1 {
font-size: 40px;
}

h2 {
  font-size: 35px;
  }

h1 {
  color: #CEA76F;
  display: flex;
  z-index: 1;
  }

h2 {
  color: white;
  text-shadow: #34160C 50px;
}

.Hello-message{
  /* font-size: 40px; */
}

footer{
  position: absolute;
  bottom: 0;
  right: 50%;
}

.button{
background-color: #CEA76F;
color: white;
display: flex;
border-radius: 5px;
width: 50%;
padding: 15px 20px;
justify-content: center;
text-decoration: none;
font-family: 'Syne', sans-serif;
font-size: 18px;
box-shadow: #422e20 0px 4px 10px;
}

/* burger menu start */
button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 3;
  }
  
  .navbar,
  .navbar-burger,
  .menu,
  .background {
    position: fixed;
  }
  
  .background {
    z-index: -1;
    position: fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    background: linear-gradient(180deg, #B27952 0%, #9F6A48 9.38%, #946141 13.02%, #8B5B3C 16.67%, #7D4F35 25.52%, #6A402A 37.5%, #613925 45.83%, #593321 51.56%, #532F1D 63.54%, #4C2919 78.12%, #34160C 100%);
    background-blend-mode: difference;
    background-repeat: no-repeat;
    background-position: 100%;
    transition: 0.5s;
  }
  
  body.open .background {
    filter: blur(50px);
  }
  
  .navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
  }
  
  .navbar-burger {
    z-index: 3;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("../images/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .navbar-burger {
    background-image: url("../images/close.svg");
  }
  
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    border-bottom: 20px solid white;
    transition: 0.5s;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu nav:hover a {
    opacity: 0.25;
  }
  
  .menu nav a:hover {
    opacity: 1;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu a {
    animation: appear 0.3s backwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* burger menu end */

