* {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  overflow: overlay;
  background-color: #B27952;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.logo{
width: auto;
height: 50px;
}

.hero{
  height: 250px;
  width: auto;
  object-fit: cover;
  display: block;
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.home-page{
  margin-top: 8%;
  margin-left: 0%;
}

.box{
  display: inline-block;
}

.left-box{
  float: left;
}

#middle-box{
  float:left
}
.right-box{
  float: left;
}

h1 {
font-size: 42px;
color: white;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: left;
line-height: 36px;
}

h2 {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  text-align: left;
  line-height: 30px;
}

h3{
  font-size: 24px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4{
  font-size: 16px;
}
p {
  font-size: 12px;
}

footer{
  position: absolute;
  bottom: 0;
  right: 80%;
}

.hello {
  font-size: 30px;
}

.home-button{
background-color: #CEA76F;
color: white;
border-radius: 5px;
padding: 20px;
font-family: 'Syne', sans-serif;
font-size: 30px;
box-shadow: #422e20 0px 4px 10px;
display: flex;
justify-content: center;
margin-top: 50px;
}

.btn{
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: center;
}
.social-media i {
color: white;
font-size: 24px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 20px;
}

.fa-sharp {
  color: white;
  font-size: 60px;
  margin-top: 30px;
  margin-left: 43%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 992px) {
}


/* burger menu start */
button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 3;
  }
  
  .navbar,
  .menu{
    position: fixed;
  }

  .navbar-burger{
    float: right;
  }

  .header{
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    top: 0;
  }
  
.home-text{
    top: 0;
    left: 0;
    height: 861px;
    width: 100%;
    /* background-color:hsla(24,38%,50%,1);
    background-image:
    radial-gradient(at 18% 43%, hsla(23,47%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, hsla(15,62%,12%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(15,62%,12%,1) 0px, transparent 50%),
    radial-gradient(at 29% 76%, hsla(24,38%,50%,1) 0px, transparent 50%),
    radial-gradient(at 77% 34%, hsla(23,48%,56%,1) 0px, transparent 50%),
    radial-gradient(at 94% 42%, hsla(22,40%,36%,1) 0px, transparent 50%),
    radial-gradient(at 51% 100%, hsla(20,43%,29%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(18,47%,22%,1) 0px, transparent 50%),
    radial-gradient(at 0% 49%, hsla(21,42%,31%,1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(17,51%,18%,1) 0px, transparent 50%); */
    /* background-color:hsla(24,38%,50%,1);
    background-image:
    radial-gradient(at 16% 55%, hsla(24,37%,50%,1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(17,49%,18%,1) 0px, transparent 50%),
    radial-gradient(at 7% 0%, hsla(17,49%,18%,1) 0px, transparent 50%),
    radial-gradient(at 4% 89%, hsla(17,49%,18%,1) 0px, transparent 50%),
    radial-gradient(at 67% 52%, hsla(20,49%,29%,1) 0px, transparent 50%); */
    /* background-color:hsla(24,38%,50%,1);
    background-image:
    radial-gradient(at 6% 100%, hsla(17,49%,18%,1) 0px, transparent 50%),
    radial-gradient(at 4% 1%, hsla(17,49%,18%,1) 0px, transparent 50%); */

    background: rgb(84,47,30);
    background: linear-gradient(180deg, rgba(84,47,30,1) 0%, rgba(122,76,51,1) 19%, rgba(132,85,56,1) 29%, rgba(130,83,55,1) 38%, rgba(124,78,52,1) 48%, rgba(132,85,56,1) 59%, rgba(122,76,51,1) 74%, rgba(119,74,50,1) 86%, rgba(84,47,30,1) 100%);
    

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}



  body.open .background {
    filter: blur(50px);
  }
  
  .navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
  }
  
  .navbar-burger {
    z-index: 3;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 80px;
    height: 50px;
    background-image: url("../images/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .navbar-burger {
    background-image: url("../images/close.svg");
  }
  
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    border-bottom: 20px solid white;
    transition: 0.5s;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu nav:hover a {
    opacity: 0.25;
  }
  
  .menu nav a:hover {
    opacity: 1;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu a {
    animation: appear 0.3s backwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    100% {
      opacity: 1;
    }
  }


.float-container{
  border: 3px solid white;
  padding: 30px;
}
.float-child{
  float:left;
  padding: 4px;
}

  /* About me section */
  .about-me{

    margin-top: 70px;
    margin-bottom: 200px;
    text-align: center;
  }



#about-me-component {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0px;
}

.front-end-button, .cloud-eng-button, .tech-enth-button, .speaker-button{
background-color: transparent;
color: white;
padding: 30px 30px;
font-family: 'Syne', sans-serif;
font-size: 24px;
}



/* Portfolio */

.portfolio{
  position: relative;
  height: 1000px;
  width: 100%;
  border-radius: 30px;
  background-color: #542f1e;
}

.portfolio-title{
  position: absolute;
  top: 80px;
}
/* Form */

.feel-free{
  margin-bottom: 0%;
}

/* 
@media screen and (min-width: 900px) {}

/* Style inputs, select elements and textareas  */
input[type=text], textarea {

  height: 50px;
  margin: 25px 0px;
  padding: 12px 20px;
  font-size: 24px;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  outline: none;
  display: block;
  width: 90%;
} 

form {
	padding: 15px 40px;
  max-width: 100%;
}


.form-group {
	position: relative;
	padding: 20px 0;
	width: 300px;
	max-width: 100%;
}

label {
  color: white;
  position: absolute;
  pointer-events: none;
  top: 45px;
  left: 20px;
  font-size: 24px;
  transform: translateY(35px);
  transition: all 0.2s ease-in-out;
}

.form-group input:valid,
.form-group input:focus {
	outline: none;
}

.form-group input:valid + label,
.form-group input:focus + label {
	font-size: 20px;
	transform: translateY(0);
}


.submit-btn{
  width: 100px;
  border-radius: 10px;
  padding: 20px 100px;
  margin: 0 auto;
  background-color: #CEA76F;
  color: white;
  font-size: 30px;
  box-shadow: #422e20 0px 4px 10px;
  display: flex;
  justify-content: center;
}

/* @media screen and (max-width: 600px) {
  input[type=text], select, textarea, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */


/* Style the label to display next to the inputs */
 /* label {
  padding: 12px 12px 12px 0;
  display: inline-block;
} */

  /* Footer start */
footer{
  margin-top: 20%;
}
